h1{
	font-family: Balsamiq Sans , helvetica , sans-serif;
	text-align: center;
	font-size: 1em;
	padding-top: 10px;
	padding-bottom: 20px;

}

* {
	box-sizing: border-box;
	 margin: 0;
  	padding: 0;
}



body{
 margin: 10px;
}

p{
	text-align: left;
	padding-top: 19px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: .80em;
	font-family: Balsamiq Sans , helvetica , sans-serif;

}

h2 {
	
	border: .75px black solid;
	width: 70px;
	text-align: center;
	margin-top: 0px;
	float: right;
	font-family: Balsamiq Sans, helvetica , sans-serif;
	font-size: 1em;
	letter-spacing: .75px;
	}



/*** Chicken ***/

div.box{ 
	background-color: #909090;
	width: 30%;
	height: 100px;
	font-size: .70em;
	float: left;
	position: absolute;
	margin-top: 10px;
	margin-right: 20px;
	padding-left: 5px;
	border: 1px solid black;
}

.box h2{
background-color: #D2968E;
}

/*** Beef ***/

div.p1{
	background-color: #909090;
	width: 30%;
	height: 100px;
	font-size: .70em;
	float: left;
	position: relative;
	left: 275px;
	margin-top: 10px;
	margin-right: 20px;
	padding-left: 5px;
	border: 1px solid black;
	}

.p1 h2{
background-color: #B22222;
color: white;
}



/*** Sushi ***/

div.p2{
	background-color: #909090;
	width: 30%;
	height: 100px;
	font-size: .70em;
	float: right;
	position: static;
	margin-top: 10px;
	margin-left: 20px;
	padding-left: 5px;
	border: 1px solid black;
}

.p2 h2{
background-color: #DAC17C;
}




